{%extends "baseTemplateV1.1.html" %}
{% block bodyContent %}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="{{url_for('static',filename='sidebar/newSidebar.css')}}">

<div id="mySidebar" class="sidebar" onmouseover="toggleSidebar()" onmouseout="toggleSidebar()">
  <a href="#"><span><i class="material-icons">info</i><span class="icon-text">about</span></a><br>
  <a href="#"><i class="material-icons">spa</i><span class="icon-text"></span>services</a></span>
  </a><br>
  <a href="#"><i class="material-icons">monetization_on</i><span class="icon-text"></span>clients</span></a><br>
  <a href="#"><i class="material-icons">email</i><span class="icon-text"></span>contact<span></a>
</div>

<div id="main">
  <h2>A simple sidebar.</h2>
  <p>The sidebar is in fixed position and does not close.</p>
</div>


<script src="{{url_for('static',filename='sidebar/newSidebar.js')}}"></script>
{% endblock %}