{% extends "botNavBar/baseTemplate.html" %}
{% block bodyContent %}
<div class="container fixed-bottom">
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="botbar">
     <a class="navbar-brand" href="#">Navbar</a>
     <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="#!">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!">Link</a>
        </li>
      </ul>
   </nav>
</div>
{% endblock %}